

@font-face {
    font-family: "Larsseit";
    src: url("larsseit/Larsseit.otf");
}
@font-face {
    font-family: "Larsseit-Bold";
    src: url("larsseit/Larsseit-Bold.otf");
}
@font-face {
    font-family: "Larsseit-Thin";
    src: url("larsseit/Larsseit-Thin.otf");
}
@font-face {
    font-family: "Larsseit-Light";
    src: url("larsseit/Larsseit-Light.otf");
}
@font-face {
    font-family: "Larsseit-Extra-Bold";
    src: url("larsseit/Larsseit-ExtraBold.otf");
}

html,body,h2,h3,h4,p,h5,li {font-family: 'Larsseit', sans-serif}  


.content{
    margin:auto;
    width: 100%;
    margin: 0px;
}

*:focus {
    outline: 0 !important;
}

.just_a_border {
    overflow: hidden;
    position: absolute;
    top: 90px;
    height: 1.5px;
    width: 100%;
    z-index: 100;
    border-bottom:1.5px solid;
    border-bottom-color:#f0f0f0; 
}


.sitecontainer{
    margin: 0;
    width: 100%;
    padding-left: 16%;
    padding-right: 16%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    overflow: hidden;
}

.top_menu_bar {
    overflow: hidden;
    padding-top: 20px;
}


.top_menu_bar img {
    display:inline-block;
    width:14%;
    min-width: 190px;
    cursor: pointer;
    
}

.top_menu_bar i {
    display:inline;
    float:right;
    margin:0;
    padding:2px;
    font-size: 27px;
    color: #2a8aff;
    margin-top: 19px;
    cursor:pointer;
    opacity: 1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    
}

.top_menu_bar i:hover{
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 0.7;
}

.info_dropdown {
    position: absolute;
    top:100px;
    right: 16%;
    height: auto;
    width:20%;
    text-decoration: none;
    text-align: justify;
    font-family: 'Larsseit-Light';
    font-weight: 100;
    letter-spacing: 0.2px;
    color: #363634;
    font-size: 12px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 0;
    cursor: default;

}

.top_menu_bar i:hover ~ .info_dropdown {
    opacity: 1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
   
}

.top_title {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.top_title h1 {
    display:block;
    text-align: left;
    margin:0;
    padding:0;
    text-decoration: none;
    font-family: 'Larsseit-Extra-Bold';
    font-size: 46px;
    color: #363634;
    letter-spacing: 0.5px;
    line-height: 60px;
}

.top_title h2 {
    display:block;
    text-align: left;
    margin:0;
    padding:0;
    text-decoration: none;
    font-family: 'Larsseit-Thin';
    font-size: 22px;
    color: #363634;
    letter-spacing: 0.5px;
    line-height: 36px;
    font-weight: 700;
}

.top_title h3 {
    display:block;
    text-align: left;
    margin:0;
    padding:0;
    text-decoration: none;
    font-family: 'Larsseit-Thin';
    color: #696969;
    font-size: 12px;
    letter-spacing: 0.5px;
    margin-top:22px;
    line-height: 70px;
    font-weight: 100;
}
  
.just_another_border {
    overflow: hidden;
    width: 100%;
    border: 0px solid #2a8aff;
    height:22px;
    margin-top: 15px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.just_another_border img {
    display: block;
    object-fit: fill;
    width: 100%; 
    margin:0;
    padding:0;   
    padding-bottom:7px;
    cursor: default; 
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
 
.all_work_container{
    display:block;
    overflow: hidden;
    text-decoration:none;
    color:#fff;
    text-align:center;
    cursor:pointer;
    white-space:nowrap;
    width: auto;
    height: 520px;
    margin: 0;
    padding: 0;
    margin-top: 14px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    overflow:hidden;    
    cursor: default;
}

.left_container{
    display:inline;
    float: left;
    margin:0;
    padding:0;
    width:29%;
    height:100%;
    cursor: default;
    opacity:0.6;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    
}


.image_container {
    display: block;
    object-fit: fill;
    width: 100%;
    height: 83%; 
    margin:0;
    margin-bottom:7px!important;
    padding:0;   
    margin-bottom:0px;
    cursor: default; 
    overflow:hidden;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.left_container canvas {
    display: block;
    object-fit: fill;
    width: 100% !important;
    height: 100% !important;
    margin:0;
    padding:0;   
    cursor: default; 
    -webkit-transition: all 0.3s!important;
    -moz-transition: all 0.3s!important;
    -o-transition: all 0.3s!important;
    transition: all 0.3s!important;
    
}

.left_container img {
    display: block;
    object-fit: fill;
    width: 100% !important;
    height: 100% !important;
    margin:0;
    padding:0;   
    cursor: default; 
    -webkit-transition: all 0.3s!important;
    -moz-transition: all 0.3s!important;
    -o-transition: all 0.3s!important;
    transition: all 0.3s!important;

}


.left_container label {
    display: block;
    border:none;
    overflow:hidden;
    text-decoration:none;
    text-align:center!important;
    font-family: 'Larsseit-Light';
    font-size: 15px;
    line-height: 25px;
    color: #363634;
    font-weight: 100;
    letter-spacing: 0.5px;
    cursor:pointer;
    white-space:nowrap; 
    transition: 0.3s;
    outline:0;
    margin:0;
    padding: 7% 0 9% 0;
    width: 100%;
    height: 16%; 
    background-color: #f8f8f8;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;

}


.left_container label:hover{
    color:#fff;
    background-color: #2a8aff!important;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.left_container input{
    display: none;
}


.menu_options_container{
    position: relative;
    float: right;
    width: 70%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f8f8f8;
    background-image: url("images/incisive_watermark_gray_blur.png");
    background-repeat: no-repeat;
    background-position: right 15% bottom;
    align-items: center;
    justify-content: center;
    cursor: default; 
    text-align: center!important;
    font-family: 'Larsseit-Light';
    font-size: 15px;
    line-height: 25px;
    color: #363634;
    font-weight: 100;
    letter-spacing: 0.5px;
    text-decoration: none;
    white-space:normal;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
    
}

.menu_options_container p {
    display: block;
    object-fit: fill;
    width: 100%;
    height: 16%;    
    cursor: default; 
    text-align: center;
    font-family: 'Larsseit-Light';
    font-size: 15px;
    color: #363634;
    font-weight: 100;
    letter-spacing: 0.5px;
    text-decoration: none;
    padding: 0;
    padding-top: 30px;
    margin: 0;
    border-bottom: 7px solid #ffffff;
    background-color: #f8f8f8;
    -webkit-transition: all 0.3s!important;
    -moz-transition: all 0.3s!important;
    -o-transition: all 0.3s!important;
    transition: all 0.3s!important;
}

.cancer_types_dropdown {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
    background-color: transparent;
    float: left;
    height: 68%;
    width: 80%;
    margin:  30px 10% 0 10%;
    text-align: center;
    overflow: hidden;
    border: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.cancer_types_dropdown a{
    display: block;
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 2.8vw 0% 0% 0%;
    align-items: center; 
    justify-content: center;
    background-color: transparent;
    font-family: 'Larsseit-Light';
    font-size: 15px;
    line-height: 25px;
    color: #363634;
    font-weight: 100;
    letter-spacing: 0.5px;
    text-decoration: none;
    outline: 0;
    border: none; 
}

  
.cancer_types_dropdown a:hover {
    background-color: rgba(42, 138, 255, 1)!important ;
    color: #ffffff!important;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.cancer_types_dropdown img {
    display: inline;
    object-fit: fill;
    align-items: center; 
    width: 70px;
    height: 70px;
    margin: 0;
    margin-right: 10px;
    padding: 0;   
    cursor: default; 
    -webkit-transition: all 0.3s!important;
    -moz-transition: all 0.3s!important;
    -o-transition: all 0.3s!important;
    transition: all 0.3s!important;
}

.modalities_dropdown {
    background-color: transparent;
    height: 68%;
    width: 0%;
    margin-top: 30px;
    margin-right: 7vw;
    float: right;
    display: grid;
    grid-template-rows: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 0;
    border: none;
}


.modalities_dropdown a{
    padding: 15px;
    margin: auto;
    width: 100%;
    background-color: transparent;
    font-family: 'Larsseit-Light';
    font-size: 15px;
    line-height: 25px;
    color: #b3b3b3;
    font-weight: 100;
    letter-spacing: 0.5px;
    text-decoration: none;
    outline: 0;
    border-bottom: 0.2px solid #363634; 
}
  
.modalities_dropdown a:hover {
    background-color: #2a8aff!important ;
    color: #ffffff!important;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
  

#divModelDownloadFraction{
    width: 100%;
    height: 100%;
    margin: 0;
    margin-top: 18%!important;
    padding: 0 10% 0 10% ;   
    cursor: default; 
    text-align: center!important;
    font-family: 'Larsseit-Light';
    font-size: 15px;
    color: #363634;
    font-weight: 100;
    letter-spacing: 0.5px;
    vertical-align: middle;
    text-decoration: none;
    white-space:normal;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#progress_bar_container {
    width: 100%;
    background-color: #ddd;
}
  
#progress_bar {
    width: 1%;
    height: 8px;
    margin-top: 26%!important;
    background-color: #2a8aff;
}

.right_container{
    display: none;
    position: relative;
    cursor: default;
    float: right;
    width: 70%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f8f8f8;
    background-image: url("images/incisive_watermark_gray_blur.png");
    background-repeat: no-repeat;
    background-position: right 15% bottom;
    -webkit-transition: all 0.3s!important;
    -moz-transition: all 0.3s!important;
    -o-transition: all 0.3s!important;
    transition: all 0.3s!important; 
}

.right_container p{
    display: block;
    object-fit: fill;
    width: 100%;
    height: 16%; 
    margin:0;
    padding:0;   
    cursor: default; 
    text-align: center;
    font-family: 'Larsseit-Light';
    font-size: 15px;
    color: #363634;
    font-weight: 100;
    letter-spacing: 0.5px;
    text-decoration: none;
    padding-top: 30px;
    margin: 0 0 5px 0;
    border-bottom: 7px solid #ffffff;
    background-color: #f8f8f8;
    -webkit-transition: all 0.3s!important;
    -moz-transition: all 0.3s!important;
    -o-transition: all 0.3s!important;
    transition: all 0.3s!important;
}

.results{
    display: block;
    position: relative;
    cursor: default;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.export_button {
    display: none;
    position: absolute;
    right: 10px;
    top: 25px;
    margin: 0;
    padding: 0;
    font-size: 22px;
    color: #2a8aff;
    margin-right: 25px;
    cursor: pointer;
    opacity: 1;
    z-index: 10;
    border: none;
    background-color: transparent;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.export_button:hover{
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 0.7;
}

.textedit_button{
    display: none;
    position: absolute;
    right: 50px;
    top: 25px;
    margin: 0;
    padding: 0;
    font-size: 22px;
    color: #2a8aff;
    margin-right: 25px;
    cursor: pointer;
    opacity: 1;
    z-index: 10;
    border: none;
    background-color: transparent;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.textedit_button:hover{
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 0.7;
}

.right_container h1{
    display: block;
    object-fit: fill;
    width: 100%;
    margin:0;
    margin-top: 20px;
    padding:0;   
    cursor: default; 
    text-align: center!important;
    font-family: 'Larsseit-Light';
    font-size: 15px!important;
    line-height: 25px;
    color: #363634;
    font-weight: 100;
    letter-spacing: 0.5px;
    text-decoration: none;
    white-space:normal;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.right_container h2{
    display: block;
    object-fit: fill;
    width: 100%;
    margin:0;
    margin-top:2px;
    padding:0;   
    cursor: default; 
    text-align: center!important;
    font-family: 'Larsseit-Light';
    font-size: 15px;
    line-height: 25px;
    color: #363634;
    font-weight: 100;
    letter-spacing: 0.5px;
    text-decoration: none;
    white-space:normal;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.right_container h3{
    display: block;
    object-fit: fill;
    margin:20px 8% 0 8%;
    padding:0;   
    cursor: default; 
    text-align: center!important;
    font-family: 'Larsseit-Light';
    font-size: 15px;
    line-height: 25px;
    color: #363634;
    font-weight: 100;
    letter-spacing: 0.5px;
    text-decoration: none;
    white-space:normal;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}


.right_container h4{
    display: block;
    object-fit: fill;
    margin:7px 8% 4px 8%;
    padding:0;   
    cursor: default; 
    text-align: justify!important;
    font-family: 'Larsseit-Light';
    font-size: 15px;
    line-height: 25px;
    color: #363634;
    font-weight: 100;
    letter-spacing: 0.5px;
    text-decoration: none;
    white-space:normal;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

[contenteditable] {
    outline: 0px solid transparent;
}

.right_container ol{
    display: block;
    text-decoration:none;
    list-style:none;
    cursor:default;
    color: #363634;
    margin:0;
    padding:0;
    padding-top:2px;
    width:100%;
    -webkit-transition: all 0.3s!important;
    -moz-transition: all 0.3s!important;
    -o-transition: all 0.3s!important;
    transition: all 0.3s!important;
}

.right_container ol li{
    display: block;
    object-fit: fill;
    width:84%;
    padding:0;
    margin: 20px auto 0 auto;
    background-color: transparent;
    font-family: 'Larsseit-Light';
    color: #363634;
    font-size: 15px;
    line-height: 25px;
    font-weight: 100;
    letter-spacing: 0.5px;
    text-decoration: none;
    white-space:normal;
    border:none;
    color: inherit;
    cursor:inherit;
    text-align: justify!important;
    -webkit-transition: all 0.3s!important;
    -moz-transition: all 0.3s!important;
    -o-transition: all 0.3s!important;
    transition: all 0.3s!important;
}

.gridrow {
    padding: 0;
    margin: 0;
    list-style: none;
    cursor: default;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    margin: 3px 8% 3px 8%;
    overflow: hidden;
}

.gridrow li {
    display: inline-block;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Larsseit-Light';
    font-size: 15px;
    line-height: 25px;
    color: #363634;
    font-weight: 100;
    letter-spacing: 0.5px;
    text-decoration: none;
    white-space: normal;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.footer{
    display:block;
    text-decoration:none;
    color:#fff;
    cursor:default;
    width:100%;
    height:80px;
    margin:0;
    padding:0;
    margin-top: 15px;
    transition: 0.3s;
    background-color: #fff;
}

ol { 
    padding:0;
} 


@media only screen and (max-width: 1700px) {
    .info_dropdown{
        right: 8%;  
    }
    .sitecontainer {
        width: 100%;
        padding-left: 8%;
        padding-right: 8%;
    }
    .all_work_container {
        height: 36vw;
    }
    .cancer_types_dropdown img {
        width: 60px;
        height: 60px;
    }
}

/* Laptop 15" */
@media only screen and (max-width: 1380px) {
    .top_menu_bar {
        padding-top: 12px;
    }
    .top_menu_bar img {
        min-width: 190px;
    }
    .just_a_border {
        top: 80px;
    }
    .just_another_border{
        margin-top: 8px;
    }

    .top_title h1 {
        font-size: 40px;
        line-height: 36px;
    }
    .top_title h3 {
        margin-top: 38px;
        line-height: 35px;
        font-size: 11px;
    }
    .top_title h2 {
        font-size: 18px;
    }
    .sitecontainer {
        width:1020px;
        margin:auto;
        padding:0;
    }
    .all_work_container {
        height: 40vw;
    }
    .left_container label {
        padding: 9% 0 9% 0;
    }
    .cancer_types_dropdown {
        margin: 70px 10% 0 10%;
        height: 40%;
    }
    .cancer_types_dropdown a {
        padding: 4vw 0% 0% 0%;
    }
    

    .cancer_types_dropdown img {
        display: block;
        width: 50px;
        height: 50px;
        margin: auto;
        margin-bottom: 10px;
        padding: auto;
        align-items: center; 
        justify-content: center;
    }
    .modalities_dropdown a {
        padding: 30px;
    }
    .modality_option_text {
        padding: 15vw 0 0 0;
    }

    #divModelDownloadFraction {
        margin-top: 20%!important;
    }

}

/* Laptop 13" */
@media only screen and (max-width: 1290px) {
    .info_dropdown{
        display:none;
    }
    .top_menu_bar i {
        display:none;
    }
    .sitecontainer {
        width:1000px;
        margin:auto;
        padding:0;
    }
    .all_work_container {
        min-height: 560px;
    }
    .modality_option_text {
        padding: 18vw 0 0 0;
    }
    .image_container {
        display: block;
        object-fit: cover;
        width: 100%;
        height: 85%;
        margin: 0;
        margin-bottom: 0!important;
        background-color: #000000;
    }
    .left_container img {
        object-fit: cover;
    }
    .left_container label {
        margin: 0;
        padding: 2.5vw 0 2.5vw 0;
        height: 15%;
    }
    
    #divModelDownloadFraction {
        margin-top: 28%!important;
    }
}

/* Tablet */
@media only screen and (max-width: 1030px) {
    .sitecontainer {
        width:730px;
        margin:auto;
        padding:0;
    }
    .top_menu_bar {
        padding-top: 10px;
        background-color: #fff;
        position: fixed;
        top:0;
        width:100%;
        height: 75px;
        z-index: 100;
    }
    .top_menu_bar img {
        min-width: 190px;    
        margin-top: 4px;
    }
    .top_menu_bar i {
        display:none;
    }
    .top_title h3 {
        display: none;
        margin-top: 60px;
        line-height: 65px;
    }
    .top_title h1 {
        font-size: 36px;
        line-height: 28px;
        font-family: 'Larsseit-Bold';
        margin-bottom: 10px;
        margin-top: 110px;
        letter-spacing: -0.5px;
    }
    .top_title h2 {
        font-size: 18px;
        line-height: 18px; 
        font-weight: 100;
        font-family: 'Larsseit-Light';
    }
    .just_another_border {
        margin-top: 12px;
    }
    .all_work_container {
        height: 115vw;
    }
    .left_container {
        display: block;
        overflow: hidden;
        width: 100%;
        height: 42%;
        margin: 0;
        padding: 0;
        padding-bottom: 7px!important;
    }
    .image_container {
        display: block;
        object-fit: cover;
        width: 100%;
        height: 82%;
        margin: 0;
        margin-bottom: 0!important;
        background-color: #000000;
    }
    .left_container img {
        display: block;
        object-fit: contain;
        margin: 0;
        padding: 0;
    }
    .left_container label {
        margin: 0;
        padding: 3% 0 3% 0;
        height: 18%;
    }
    .menu_options_container {
        width: 100%;
        height: 57%;
        margin: 0;
        padding: 0;
        margin-top: 7px;
    }
    .right_container {
        display:block;
        width: 100%;
        height: 57%;
        margin: 0;
        padding: 0;
        margin-top: 7px;
    }
    .right_container p {
        background-color: transparent;
        margin-bottom: 0;
        border-bottom: 0;
        padding-top: 33px;
        height: 13%;;
        border-bottom: 4px solid #fff;
    }
    .right_container h1 {
        margin-top: 20px;
    }
    .gridrow {
        margin: 2px 8% 2px 8%;
    }

    #divModelDownloadFraction {
        margin-top: 20%!important;
    }
    
}


/* Mobile */
@media only screen and (max-width: 800px) {
    .just_another_border {
        height: 20px;
    }
    .sitecontainer {
        width: 100%;
        padding-left: 2%;
        padding-right: 2%;
    }
    .all_work_container {
        height: 1400px;
        margin-top:0;
    }
    .left_container {
        height: 39%;
    }
    .menu_options_container {
        height: 60%;
        font-family: 'Larsseit-Light';
        font-size: 18px;
    }   
    .menu_options_container p{
        font-family: 'Larsseit-Light';
        height: 12%;
        font-size: 18px;
    }    
    .cancer_types_dropdown a {
        font-family: 'Larsseit-Light';
        font-size: 18px;
    }
    .cancer_types_dropdown img {
        display: block;
        width: 50px;
        height: 50px;
        margin: auto;
        margin-bottom: 10px;
        padding: auto;
        align-items: center; 
        justify-content: center;
    }
    .modalities_dropdown {
        width: 35%;
    }
    .left_container label {
        font-family: 'Larsseit-Light';
        font-size: 18px;
        padding: 37px 0 25px 0;
    }       
    .right_container {
        height: 60%;
    }
    .right_container p {
        height: 12%;
        font-size: 18px;
    }
    .right_container h1 {
        margin-top: 30px;
        font-size: 18px!important;
    }
    .right_container h2 {
        width: 96%;
        margin: 0 2% 0 2%;
        font-size: 18px!important;
    }
    .right_container h3 {
        margin: 20px 2% 0 2%;
        font-size: 18px!important;
    }
    .right_container h4 {
        margin: 20px 5% 0 5%;
        font-size: 18px!important;
    }
    .gridrow {
        margin: 0 2% 0 2%;
    }
    .gridrow li {
        font-size: 18px!important;
    }
    #divModelDownloadFraction {
        margin-top: 45%!important;
        font-size: 18px;
    }
    .export_button {
        right: -7px;
    }
    .textedit_button {
        right: 25px;
    }
    
}


@media only screen and (max-width: 550px) {
    .left_container img {
        object-fit: cover;
    }
}
