

html,body,h2,h3,h4,p,h5,li {font-family: sans-serif}  


.content{
    margin:auto;
    margin: 0;
    width: 100%;
}

*:focus {
    outline: 0 !important;
}

.just-a-border {
    border-bottom:1.5px solid;
    border-bottom-color:#f0f0f0;
    height: 1.5px;
    overflow: hidden;
    position: absolute;
    top: 90px;
    width: 100%;
    z-index: 100; 
}


.sitecontainer{
    margin: 0;
    overflow: hidden;
    padding-left: 16%;
    padding-right: 16%;
    transition: all 0.3s;
    transition: all 0.3s;
    transition: all 0.3s;
    transition: all 0.3s;
    width: 100%;
}

.top-menu-bar {
    overflow: hidden;
    padding-top: 20px;
}


.top-menu-bar img {
    cursor: pointer;
    display:inline-block;
    min-width: 190px;
    width:14%;
    
}

.top-menu-bar i {
    color: #2a8aff;
    cursor:pointer;
    display:inline;
    float:right;
    font-size: 27px;
    margin:0;
    margin-top: 19px;
    opacity: 1;
    padding:2px;
    transition: all 0.3s;
    transition: all 0.3s;
    transition: all 0.3s;
    transition: all 0.3s;
    
}

.top-menu-bar i:hover{
    opacity: 0.7;
    transition: all 0.3s;
    transition: all 0.3s;
    transition: all 0.3s;
    transition: all 0.3s;
}

.info_dropdown {
    color: #363634;
    cursor: default;
    font-size: 12px;
    font-weight: 100;
    height: auto;
    letter-spacing: 0.2px;
    opacity: 0;
    position: absolute;
    right: 16%;
    text-align: justify;
    text-decoration: none;
    top:100px;
    transition: all 0.3s;
    transition: all 0.3s;
    transition: all 0.3s;
    transition: all 0.3s;
    width:20%;

}

.top_menu_bar i:hover ~ .info_dropdown {
    opacity: 1;
    transition: all 0.3s;
    transition: all 0.3s;
    transition: all 0.3s;
    transition: all 0.3s;
   
}

.top_title {
    -webkit-touch-callout: none; /* iOS Safari */
    user-select: none; /* Safari */
     user-select: none; /* Konqueror HTML */
       user-select: none; /* Old versions of Firefox */
        user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.top_title h1 {
    color: #363634;
    display:block;
    font-size: 46px;
    letter-spacing: 0.5px;
    line-height: 60px;
    margin:0;
    padding:0;
    text-align: left;
    text-decoration: none;
}

.top_title h2 {
    color: #363634;
    display:block;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 36px;
    margin:0;
    padding:0;
    text-align: left;
    text-decoration: none;
}

.top_title h3 {
    color: #696969;
    display:block;
    font-size: 12px;
    font-weight: 100;
    letter-spacing: 0.5px;
    line-height: 70px;
    margin:0;
    margin-top:22px;
    padding:0;
    text-align: left;
    text-decoration: none;
}
  
.just_another_border {
    border: 0 solid #2a8aff;
    height:22px;
    margin-top: 15px;
    overflow: hidden;
    transition: all 0.3s;
    transition: all 0.3s;
    transition: all 0.3s;
    transition: all 0.3s;
    width: 100%;
}

.just_another_border img {
    cursor: default;
    display: block; 
    margin:0;
    object-fit: fill;
    padding:0;   
    padding-bottom:7px; 
    transition: all 0.3s;
    transition: all 0.3s;
    transition: all 0.3s;
    transition: all 0.3s;
    width: 100%;
}
 
.all_work_container{
    color:#fff;
    cursor:pointer;    
    cursor: default;
    display:block;
    height: 520px;
    margin: 0;
    margin-top: 14px;
    overflow:hidden;
    padding: 0;
    text-align:center;
    text-decoration:none;
    transition: all 0.3s;
    transition: all 0.3s;
    transition: all 0.3s;
    transition: all 0.3s;
    white-space:nowrap;
    width: auto;
}



.menuoptions_container{
    align-items: center;
    background-color: #f8f8f8;
    background-image: url("prm/images/incisive_watermark_gray_blur.png");
    background-position: right 15% bottom;
    background-repeat: no-repeat;
    color: #363634;
    cursor: default;
    display: block;
    float: right;
    font-size: 15px;
    font-weight: 100;
    height: 100%;
    justify-content: center;
    letter-spacing: 0.5px;
    line-height: 25px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative; 
    text-align: center!important;
    text-decoration: none;
    -webkit-touch-callout: none; /* iOS Safari */
    transition: all 0.3s;
    transition: all 0.3s;
    transition: all 0.3s;
    transition: all 0.3s;
    user-select: none; /* Safari */
    user-select: none; /* Konqueror HTML */
    user-select: none; /* Old versions of Firefox */
    user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
    white-space:normal;
    width: 100%;
    
}

.menuoptions_container p {
    background-color: #f8f8f8;
    border-bottom: 7px solid #fff;
    color: #363634;    
    cursor: default;
    display: block;
    font-size: 15px;
    font-weight: 100;
    height: 16%;
    letter-spacing: 0.5px;
    margin: 0;
    object-fit: fill;
    padding: 0;
    padding-top: 30px; 
    text-align: center;
    text-decoration: none;
    transition: all 0.3s!important;
    transition: all 0.3s!important;
    transition: all 0.3s!important;
    transition: all 0.3s!important;
    width: 100%;
}

.cancer_types_dropdown {
    place-items: center center;
    background-color: transparent;
    border: none;
    display: grid;
    grid-gap: 10%;
    grid-template-columns: 45% 45%;
    grid-template-rows: 45% 45%;
    height: 70%;
    margin: 3% 15%;
    overflow: hidden;
    text-align: center;
    transition: all 0.3s;
    transition: all 0.3s;
    transition: all 0.3s;
    transition: all 0.3s;
    width: 70%;
}

.cancer_types_dropdown a{
    align-items: center;
    background-color: transparent;
    border: none;
    color: #363634;
    display: block;
    font-size: 15px;
    font-weight: 100;
    height: 100%; 
    justify-content: center;
    letter-spacing: 0.5px;
    line-height: 25px;
    margin: auto;
    outline: 0;
    padding: 2vw 0% 0%;
    text-decoration: none;
    width: 100%; 
}

  
.cancer_types_dropdown a:hover {
    background-color: rgb(42 138 255 / 100%)!important ;
    color: #fff!important;
    transition: all 0.3s;
    transition: all 0.3s;
    transition: all 0.3s;
    transition: all 0.3s;
}

.cancer_types_dropdown img {
    align-items: center;   
    cursor: default;
    display: inline;
    height: 70px;
    margin: 0;
    margin-right: 10px;
    object-fit: fill;
    padding: 0; 
    transition: all 0.3s!important;
    transition: all 0.3s!important;
    transition: all 0.3s!important;
    transition: all 0.3s!important; 
    width: 70px;
}



.notifications_container{
    background-color: #f8f8f8;
    background-image: url("prm/images/incisive_watermark_gray_blur.png");
    background-position: right 15% bottom;
    background-repeat: no-repeat;
    cursor: default;
    display: none;
    float: right;
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    transition: all 0.3s!important;
    transition: all 0.3s!important;
    transition: all 0.3s!important;
    transition: all 0.3s!important;
    width: 100%; 
}

.notifications_container p{
    background-color: #f8f8f8;
    border-bottom: 7px solid #fff;
    color: #363634;   
    cursor: default;
    display: block;
    font-size: 15px;
    font-weight: 100;
    height: 16%;
    letter-spacing: 0.5px; 
    margin:0;
    margin: 0 0 5px;
    object-fit: fill;
    padding:0;
    padding-top: 30px; 
    text-align: center;
    text-decoration: none;
    transition: all 0.3s!important;
    transition: all 0.3s!important;
    transition: all 0.3s!important;
    transition: all 0.3s!important;
    width: 100%;
}



#divModelDownloadFraction{
    color: #363634;   
    cursor: default;
    font-size: 15px;
    font-weight: 100;
    height: 100%;
    letter-spacing: 0.5px;
    margin: 0;
    margin-top: 12%!important;
    padding: 0 10%; 
    text-align: center!important;
    text-decoration: none;
    transition: all 0.3s;
    transition: all 0.3s;
    transition: all 0.3s;
    transition: all 0.3s;
    vertical-align: middle;
    white-space:normal;
    width: 100%;
}

#progress_bar_container {
    background-color: #ddd;
    width: 100%;
}
  
#progress_bar {
    background-color: #2a8aff;
    height: 8px;
    margin-top: 26%!important;
    width: 1%;
}


.proceed_button{
    background-color: #f8f8f8;
    border:none;
    border: 1px solid #363634;
    color: #363634;
    cursor:pointer;
    display: block;
    font-size: 15px;
    font-weight: 100;
    height: 60px;
    letter-spacing: 0.5px;
    line-height: 25px;
    margin: auto;
    outline: 0;
    overflow:hidden;
    padding: 16px;
    text-align:center!important;
    text-decoration:none;
    -webkit-touch-callout: none; /* iOS Safari */
    transition: all 0.3s;
    transition: all 0.3s;
    transition: all 0.3s; 
    transition: 0.3s;
    transition: all 0.3s;
    user-select: none; /* Safari */
    user-select: none; /* Konqueror HTML */
    user-select: none; /* Old versions of Firefox */
    user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
    white-space:nowrap;
    width: 260px;

}

.proceed_button:hover {
    background-color: #2a8aff!important;
    color: #fff!important;
    transition: all 0.3s;
    transition: all 0.3s;
    transition: all 0.3s;
    transition: all 0.3s;

}


.upload_container{
    cursor: default;
    display: inline;
    height:100%;
    margin:0;
    opacity: 1;
    padding:0;
    transition: all 0.3s;
    transition: all 0.3s;
    transition: all 0.3s;
    transition: all 0.3s;
    width:100%;
}

.upload_area{
    cursor: default;
    display: grid; 
    float: left;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    height: 100%;
    margin:0;
    opacity: 1;
    padding:0;
    transition: all 0.3s;
    transition: all 0.3s;
    transition: all 0.3s;
    transition: all 0.3s;
    width: 30%;
}


.upload_subcontainer{
    cursor: default;
    margin:0;
    opacity: 1;
    padding:0;
    padding-left:3px;
    padding-right:3px;
    transition: all 0.3s;
    transition: all 0.3s;
    transition: all 0.3s;
    transition: all 0.3s;
}


.image_container {
    cursor: default;
    display: block;
    height: 83%; 
    margin:0;
    margin-bottom:7px!important;
    object-fit: fill; 
    overflow:hidden;
    padding:0;
    transition: all 0.3s;
    transition: all 0.3s;
    transition: all 0.3s;
    transition: all 0.3s;
    width: 100%;
}

.upload_subcontainer canvas {   
    cursor: default;
    display: block;
    height: 100% !important;
    margin:0;
    object-fit: fill;
    padding:0; 
    transition: all 0.3s!important;
    transition: all 0.3s!important;
    transition: all 0.3s!important;
    transition: all 0.3s!important;
    width: 100% !important;
    
}

.upload_subcontainer img {   
    cursor: default;
    display: block;
    height: 100% !important;
    margin:0;
    object-fit: fill;
    padding:0; 
    transition: all 0.3s!important;
    transition: all 0.3s!important;
    transition: all 0.3s!important;
    transition: all 0.3s!important;
    width: 100% !important;

}


.upload_subcontainer h1 { 
    background-color: #f8f8f8;
    border:none;
    color: #363634;
    cursor: default;
    display: block;
    font-size: 15px;
    font-weight: 100;
    height: 16%;
    letter-spacing: 0.5px;
    line-height: 25px;
    margin:0;
    outline:0;
    overflow:hidden;
    padding: 6% 0 7%;
    text-align:center!important;
    text-decoration:none;
    -webkit-touch-callout: none; /* iOS Safari */
    transition: all 0.3s;
    transition: all 0.3s;
    transition: all 0.3s; 
    transition: 0.3s;
    transition: all 0.3s;
    user-select: none; /* Safari */
     user-select: none; /* Konqueror HTML */
       user-select: none; /* Old versions of Firefox */
        user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
    white-space:nowrap;
    width: 100%;

}



.instructions_area{
    background-color: #f8f8f8;
    cursor: default;
    display:block; 
    float: right;
    height: 100%;
    margin:0;
    opacity: 1;
    padding:0;
    transition: all 0.3s;
    transition: all 0.3s;
    transition: all 0.3s;
    transition: all 0.3s;
    white-space: initial;
    width: 69%;
}

.instructions_area h1{
    background-color: #f8f8f8;
    border-bottom: 7px solid #fff;
    color: #363634;
    cursor: default;
    display: block;
    font-size: 15px;
    font-weight: 100;
    height: 16%;
    letter-spacing: 0.5px;
    margin: 0;
    object-fit: fill;
    padding: 0;
    padding-top: 30px;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s!important;
    transition: all 0.3s!important;
    transition: all 0.3s!important;
    transition: all 0.3s!important;
    width: 100%;
}

.instructions_area h2{
    background-color: #f8f8f8;
    border: 0;
    color: #363634;   
    cursor: default;
    display: block;
    font-size: 15px;
    font-weight: 100;
    letter-spacing: 0.5px;
    margin: 0;
    padding: 0;
    padding-top: 40px; 
    text-align: center;
    text-decoration: none;
    transition: all 0.3s!important;
    transition: all 0.3s!important;
    transition: all 0.3s!important;
    transition: all 0.3s!important;
}


.instructions_area label {
    border:none;
    border: 1px solid #363634;
    color: #363634!important;
    cursor:pointer;
    display: block;
    font-size: 15px;
    font-weight: 100;
    height: 60px;
    letter-spacing: 0.5px;
    line-height: 25px;
    margin: auto;
    margin-top: 10px;
    outline: 0;
    overflow:hidden;
    padding: 16px;
    text-align:center!important;
    text-decoration:none;
    -webkit-touch-callout: none; /* iOS Safari */
    transition: all 0.3s;
    transition: all 0.3s;
    transition: all 0.3s; 
    transition: 0.3s;
    transition: all 0.3s;
    user-select: none; /* Safari */
    user-select: none; /* Konqueror HTML */
    user-select: none; /* Old versions of Firefox */
    user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
    white-space:nowrap;
    width: 230px;

}

.instructions_area label:hover{
    background-color: #2a8aff!important;
    color: #fff!important;
    transition: all 0.3s;
    transition: all 0.3s;
    transition: all 0.3s;
    transition: all 0.3s;
}

.instructions_area input{
    display: none;
}


.upload_buttons{
    border: none;
    border: 1px solid #363634;
    color: #363634!important;
    cursor: pointer;
    display: block;
    font-size: 15px;
    font-weight: 100;
    height: 75px;
    letter-spacing: 0.5px;
    line-height: 25px;
    margin: auto;
    margin-top: 60px;
    outline: 0;
    overflow: hidden;
    padding: 24px;
    text-align: center!important;
    text-decoration: none;
    -webkit-touch-callout: none;
    transition: all 0.3s;
    transition: all 0.3s;
    transition: all 0.3s;
    transition: 0.3s;
    transition: all 0.3s;
    user-select: none; /* Safari */
    user-select: none; /* Konqueror HTML */
    user-select: none; /* Old versions of Firefox */
    user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
    white-space: nowrap;
    width: 304px;

}

.upload_buttons:hover {
    background-color: #2a8aff!important;
    color: #fff!important;
    transition: all 0.3s;
    transition: all 0.3s;
    transition: all 0.3s;
    transition: all 0.3s;

}

.report_container{
    background-color: #f8f8f8;
    background-image: url("prm/images/incisive_watermark_gray_blur.png");
    background-position: right 15% bottom;
    background-repeat: no-repeat;
    cursor: default;
    display: none;
    float: right;
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    transition: all 0.3s!important;
    transition: all 0.3s!important;
    transition: all 0.3s!important;
    transition: all 0.3s!important;
    width: 100%; 
}

.report_container p{
    background-color: #f8f8f8;
    border-bottom: 7px solid #fff;
    color: #363634;   
    cursor: default;
    display: block;
    font-size: 15px;
    font-weight: 100;
    height: 16%;
    letter-spacing: 0.5px; 
    margin:0;
    margin: 0 0 5px;
    object-fit: fill;
    padding:0;
    padding-top: 30px; 
    text-align: center;
    text-decoration: none;
    transition: all 0.3s!important;
    transition: all 0.3s!important;
    transition: all 0.3s!important;
    transition: all 0.3s!important;
    width: 100%;
}

.results{
    cursor: default;
    display: block;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}

.export_button {
    background-color: transparent;
    border: none;
    color: #2a8aff;
    cursor: pointer;
    display: none;
    font-size: 22px;
    margin: 0;
    margin-right: 25px;
    opacity: 1;
    padding: 0;
    position: absolute;
    right: 10px;
    top: 25px;
    transition: all 0.3s;
    transition: all 0.3s;
    transition: all 0.3s;
    transition: all 0.3s;
    z-index: 10;
}

.export_button:hover{
    opacity: 0.7;
    transition: all 0.3s;
    transition: all 0.3s;
    transition: all 0.3s;
    transition: all 0.3s;
}

.textedit_button{
    background-color: transparent;
    border: none;
    color: #2a8aff;
    cursor: pointer;
    display: none;
    font-size: 22px;
    margin: 0;
    margin-right: 25px;
    opacity: 1;
    padding: 0;
    position: absolute;
    right: 50px;
    top: 25px;
    transition: all 0.3s;
    transition: all 0.3s;
    transition: all 0.3s;
    transition: all 0.3s;
    z-index: 10;
}

.textedit_button:hover{
    opacity: 0.7;
    transition: all 0.3s;
    transition: all 0.3s;
    transition: all 0.3s;
    transition: all 0.3s;
}

.report_container h1{
    color: #363634;   
    cursor: default;
    display: block;
    font-size: 15px!important;
    font-weight: 100;
    letter-spacing: 0.5px;
    line-height: 25px;
    margin:0;
    margin-top: 20px;
    object-fit: fill;
    padding:0; 
    text-align: center!important;
    text-decoration: none;
    transition: all 0.3s;
    transition: all 0.3s;
    transition: all 0.3s;
    transition: all 0.3s;
    white-space:normal;
    width: 100%;
}

.report_container h2{
    color: #363634;   
    cursor: default;
    display: block;
    font-size: 15px;
    font-weight: 100;
    letter-spacing: 0.5px;
    line-height: 25px;
    margin:0;
    margin-top:2px;
    object-fit: fill;
    padding:0; 
    text-align: center!important;
    text-decoration: none;
    transition: all 0.3s;
    transition: all 0.3s;
    transition: all 0.3s;
    transition: all 0.3s;
    white-space:normal;
    width: 100%;
}

.report_container h3{
    color: #363634;   
    cursor: default;
    display: block;
    font-size: 15px;
    font-weight: 100;
    letter-spacing: 0.5px;
    line-height: 25px;
    margin:20px 8% 0;
    object-fit: fill;
    padding:0; 
    text-align: center!important;
    text-decoration: none;
    transition: all 0.3s;
    transition: all 0.3s;
    transition: all 0.3s;
    transition: all 0.3s;
    white-space:normal;
}


.report_container h4{
    color: #363634;   
    cursor: default;
    display: block;
    font-size: 15px;
    font-weight: 100;
    letter-spacing: 0.5px;
    line-height: 25px;
    margin:7px 8% 4px;
    object-fit: fill;
    padding:0; 
    text-align: justify!important;
    text-decoration: none;
    transition: all 0.3s;
    transition: all 0.3s;
    transition: all 0.3s;
    transition: all 0.3s;
    white-space:normal;
}

[contenteditable] {
    outline: 0 solid transparent;
}

.report_container ol{
    color: #363634;
    cursor:default;
    display: block;
    list-style:none;
    margin:0;
    padding:0;
    padding-top:2px;
    text-decoration:none;
    transition: all 0.3s!important;
    transition: all 0.3s!important;
    transition: all 0.3s!important;
    transition: all 0.3s!important;
    width:100%;
}

.report_container ol li{
    background-color: transparent;
    border:none;
    color: #363634;
    color: inherit;
    cursor:inherit;
    display: block;
    font-size: 15px;
    font-weight: 100;
    letter-spacing: 0.5px;
    line-height: 25px;
    margin: 20px auto 0;
    object-fit: fill;
    padding:0;
    text-align: justify!important;
    text-decoration: none;
    transition: all 0.3s!important;
    transition: all 0.3s!important;
    transition: all 0.3s!important;
    transition: all 0.3s!important;
    white-space:normal;
    width:84%;
}

.gridrow {
    cursor: default;
    display: -webkit-box;
    display: -moz-box;
    display: flexbox;
    display: flex;
    display: flex;
    flex-wrap: nowrap;
    flex-wrap: nowrap;
    justify-content: space-around;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    margin: 3px 8%;
    overflow: hidden;
    padding: 0;
}

.gridrow li {
    color: #363634;
    display: inline-block;
    font-size: 15px;
    font-weight: 100;
    letter-spacing: 0.5px;
    line-height: 25px;
    margin: 0;
    padding: 0;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s;
    transition: all 0.3s;
    transition: all 0.3s;
    transition: all 0.3s;
    white-space: normal;
    width: 100%;
}

.footer{
    background-color: #fff;
    color:#fff;
    cursor:default;
    display:block;
    height:80px;
    margin:0;
    margin-top: 15px;
    padding:0;
    text-decoration:none;
    transition: 0.3s;
    width:100%;
}

ol { 
    padding:0;
} 


@media only screen and (width <= 1700px) {
    .info_dropdown{
        right: 8%;  
    }

    .sitecontainer {
        padding-left: 8%;
        padding-right: 8%;
        width: 100%;
    }

    .all_work_container {
        height: 36vw;
    }

    .cancer_types_dropdown img {
        height: 60px;
        width: 60px;
    }

    .cancer_types_dropdown a {
        padding: 3.8vw 0% 0%;
    }
}

/* Laptop 15" */
@media only screen and (width <= 1380px) {
    .top_menu_bar {
        padding-top: 12px;
    }

    .top_menu_bar img {
        min-width: 190px;
    }

    .just_a_border {
        top: 80px;
    }

    .just_another_border{
        margin-top: 8px;
    }

    .top_title h1 {
        font-size: 40px;
        line-height: 36px;
    }

    .top_title h3 {
        font-size: 11px;
        line-height: 35px;
        margin-top: 38px;
    }

    .top_title h2 {
        font-size: 18px;
    }

    .sitecontainer {
        margin:auto;
        padding:0;
        width:1020px;
    }

    .all_work_container {
        height: 40vw;
    }

    .upload_container label {
        padding: 9% 0;
    }

    .cancer_types_dropdown {
        height: 40%;
        margin: 70px 10% 0;
    }

    .cancer_types_dropdown a {
        padding: 1vw 0% 0%;
    }

    .cancer_types_dropdown img {
        align-items: center;
        display: block;
        height: 50px; 
        justify-content: center;
        margin: auto;
        margin-bottom: 10px;
        padding: auto;
        width: 50px;
    }

    .modalities_dropdown a {
        padding: 18px;
    }

    .modality_option_text {
        padding: 15vw 0 0;
    }

    #divModelDownloadFraction {
        margin-top: 20%!important;
    }

}

/* Laptop 13" */
@media only screen and (width <= 1290px) {
    .info_dropdown{
        display:none;
    }

    .top_menu_bar i {
        display:none;
    }

    .sitecontainer {
        margin:auto;
        padding:0;
        width:1000px;
    }

    .all_work_container {
        min-height: 560px;
    }

    .modality_option_text {
        padding: 18vw 0 0;
    }

    .image_container {
        background-color: #000;
        display: block;
        height: 85%;
        margin: 0;
        margin-bottom: 0!important;
        object-fit: cover;
        width: 100%;
    }

    .upload_container img {
        object-fit: cover;
    }

    .upload_container label {
        height: 15%;
        margin: 0;
        padding: 2.5vw 0;
    }
    
    #divModelDownloadFraction {
        margin-top: 28%!important;
    }
}

/* Tablet */
@media only screen and (width <= 1030px) {
    .sitecontainer {
        margin:auto;
        padding:0;
        width:730px;
    }

    .top_menu_bar {
        background-color: #fff;
        height: 75px;
        padding-top: 10px;
        position: fixed;
        top:0;
        width:100%;
        z-index: 100;
    }

    .top_menu_bar img {    
        margin-top: 4px;
        min-width: 190px;
    }

    .top_menu_bar i {
        display:none;
    }

    .top_title h3 {
        display: none;
        line-height: 65px;
        margin-top: 60px;
    }

    .top_title h1 {
        font-size: 36px;
        letter-spacing: -0.5px;
        line-height: 28px;
        margin-bottom: 10px;
        margin-top: 110px;
    }

    .top_title h2 {
        font-size: 18px; 
        font-weight: 100;
        line-height: 18px;
    }

    .just_another_border {
        margin-top: 12px;
    }

    .all_work_container {
        height: 115vw;
    }

    .upload_container {
        display: block;
        height: 42%;
        margin: 0;
        overflow: hidden;
        padding: 0;
        padding-bottom: 7px!important;
        width: 100%;
    }

    .image_container {
        background-color: #000;
        display: block;
        height: 82%;
        margin: 0;
        margin-bottom: 0!important;
        object-fit: cover;
        width: 100%;
    }

    .upload_container img {
        display: block;
        margin: 0;
        object-fit: contain;
        padding: 0;
    }

    .upload_container label {
        height: 18%;
        margin: 0;
        padding: 3% 0;
    }

    .menuoptions_container {
        height: 57%;
        margin: 0;
        margin-top: 7px;
        padding: 0;
        width: 100%;
    }

    .cancer_types_dropdown a {
        padding: 5.5vw 0% 0%;
    }

    .report_container {
        display:block;
        height: 57%;
        margin: 0;
        margin-top: 7px;
        padding: 0;
        width: 100%;
    }

    .report_container p {
        background-color: transparent;
        border-bottom: 0;;
        border-bottom: 4px solid #fff;
        height: 13%;
        margin-bottom: 0;
        padding-top: 33px;
    }

    .report_container h1 {
        margin-top: 20px;
    }

    .gridrow {
        margin: 2px 8%;
    }

    #divModelDownloadFraction {
        margin-top: 20%!important;
    }
    
}


/* Mobile */
@media only screen and (width <= 800px) {
    .just_another_border {
        height: 20px;
    }

    .sitecontainer {
        padding-left: 2%;
        padding-right: 2%;
        width: 100%;
    }

    .all_work_container {
        height: 1400px;
        margin-top:0;
    }

    .upload_container {
        height: 39%;
    }

    .menuoptions_container {
        font-size: 18px;
        height: 60%;
    }   

    .menuoptions_container p{
        font-size: 18px;
        height: 12%;
    }    

    .cancer_types_dropdown a {
        font-size: 18px;
    }

    .cancer_types_dropdown img {
        align-items: center;
        display: block;
        height: 50px; 
        justify-content: center;
        margin: auto;
        margin-bottom: 10px;
        padding: auto;
        width: 50px;
    }

    .modalities_dropdown {
        width: 35%;
    }

    .upload_container label {
        font-size: 18px;
        padding: 37px 0 25px;
    }       

    .report_container {
        height: 60%;
    }

    .report_container p {
        font-size: 18px;
        height: 12%;
    }

    .report_container h1 {
        font-size: 18px!important;
        margin-top: 30px;
    }

    .report_container h2 {
        font-size: 18px!important;
        margin: 0 2%;
        width: 96%;
    }

    .report_container h3 {
        font-size: 18px!important;
        margin: 20px 2% 0;
    }

    .report_container h4 {
        font-size: 18px!important;
        margin: 20px 5% 0;
    }

    .gridrow {
        margin: 0 2%;
    }

    .gridrow li {
        font-size: 18px!important;
    }

    #divModelDownloadFraction {
        font-size: 18px;
        margin-top: 45%!important;
    }

    .export_button {
        right: -7px;
    }

    .textedit_button {
        right: 25px;
    }
    
}


@media only screen and (width <= 550px) {
    .upload_container img {
        object-fit: cover;
    }
}
